apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"longhorn-ui","app.kubernetes.io/instance":"longhorn","app.kubernetes.io/name":"longhorn","app.kubernetes.io/version":"v1.5.3"},"name":"longhorn-ui","namespace":"longhorn-system"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"longhorn-ui"}},"template":{"metadata":{"labels":{"app":"longhorn-ui","app.kubernetes.io/instance":"longhorn","app.kubernetes.io/name":"longhorn","app.kubernetes.io/version":"v1.5.3"}},"spec":{"affinity":{"podAntiAffinity":{"preferredDuringSchedulingIgnoredDuringExecution":[{"podAffinityTerm":{"labelSelector":{"matchExpressions":[{"key":"app","operator":"In","values":["longhorn-ui"]}]},"topologyKey":"kubernetes.io/hostname"},"weight":1}]}},"containers":[{"env":[{"name":"LONGHORN_MANAGER_IP","value":"http://longhorn-backend:9500"},{"name":"LONGHORN_UI_PORT","value":"8000"}],"image":"longhornio/longhorn-ui:v1.5.3","imagePullPolicy":"IfNotPresent","name":"longhorn-ui","ports":[{"containerPort":8000,"name":"http"}],"volumeMounts":[{"mountPath":"/var/cache/nginx/","name":"nginx-cache"},{"mountPath":"/var/config/nginx/","name":"nginx-config"},{"mountPath":"/var/run/","name":"var-run"}]}],"volumes":[{"emptyDir":{},"name":"nginx-cache"},{"emptyDir":{},"name":"nginx-config"},{"emptyDir":{},"name":"var-run"}]}}}}
  creationTimestamp: "2025-11-03T01:38:53Z"
  generation: 1
  labels:
    app: longhorn-ui
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/version: v1.5.3
  name: longhorn-ui
  namespace: longhorn-system
  resourceVersion: "474602"
  uid: 75a99c41-8f71-49e4-8e6c-9350ffe6f4aa
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: longhorn-ui
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: longhorn-ui
        app.kubernetes.io/instance: longhorn
        app.kubernetes.io/name: longhorn
        app.kubernetes.io/version: v1.5.3
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - longhorn-ui
              topologyKey: kubernetes.io/hostname
            weight: 1
      containers:
      - env:
        - name: LONGHORN_MANAGER_IP
          value: http://longhorn-backend:9500
        - name: LONGHORN_UI_PORT
          value: "8000"
        image: longhornio/longhorn-ui:v1.5.3
        imagePullPolicy: IfNotPresent
        name: longhorn-ui
        ports:
        - containerPort: 8000
          name: http
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/cache/nginx/
          name: nginx-cache
        - mountPath: /var/config/nginx/
          name: nginx-config
        - mountPath: /var/run/
          name: var-run
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - emptyDir: {}
        name: nginx-cache
      - emptyDir: {}
        name: nginx-config
      - emptyDir: {}
        name: var-run
status:
  availableReplicas: 2
  conditions:
  - lastTransitionTime: "2025-11-03T01:38:53Z"
    lastUpdateTime: "2025-11-03T01:39:31Z"
    message: ReplicaSet "longhorn-ui-8b7767448" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2025-11-04T00:36:23Z"
    lastUpdateTime: "2025-11-04T00:36:23Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 1
  readyReplicas: 2
  replicas: 2
  updatedReplicas: 2
